* {
    border: 0%;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(155, 155, 50);
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    padding: 3%;
}

img {
    width: 70%;
    height: 70%;
}

.main-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 410px 410px;
    margin: 1%;
    padding: 0.5%;
    background-color: rgb(80, 80, 0);
    border-radius: 5%;
}

.body-content {
    padding: 5%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 200);
}